body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: paleturquoise;
}

#clock {
    display: flex;
}

#clock img {
    width: 70px;
    height: 110px;
}

#roundclock {
    margin-top: 30px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        url('img/cl5.jpg'),
        radial-gradient(circle, rgba(255, 255, 0, 0.3) 30%, rgba(128, 128, 128, 0.9) 28%, rgba(255, 255, 0, 0.3) 18%);

    background-size: cover;
    background-blend-mode: overlay;
    box-shadow: 10px -10px 15px grey,
        inset 10px -10px 15px grey,
        10px 10px 15px grey,
        inset 10px 10px 15px grey;
    border-radius: 50%;
}

#roundclock:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: grey;
    border-radius: 50%;

}

#roundclock .hour,
#roundclock .min,
#roundclock .sec {
    position: absolute;
}

#roundclock .hour,
.hr {
    width: 160px;
    height: 160px;
}

#roundclock .min,
.mn {
    width: 160px;
    height: 160px;
}

#roundclock .sec,
.sc {
    width: 180px;
    height: 180px;

}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: black;
    z-index: 10;
    border-radius: 5px 5px 0 0;

}

.mn:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 110px;
    background-color: black;
    z-index: 11;
    border-radius: 5px 5px 0 0;
   
    transform: translateY(-30%) rotate(0deg);
}

.sc:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 140px;
    background-color: grey;
    z-index: 12;
    transform: translateY(-20%) rotate(0deg);

}